
.container {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 24px;
  max-width: 600px;
}
.h1 {
  color: #0e3987;
  position: relative;
}
.message {
  margin-top: 16px;
  font-weight: bold;
}
@keyframes pulse {
  0% {top: 50%;}
  20% {top:100%;}
  40% {left: 70%;}
  60% {top:0%}
  60% {top: 50%}
  80% {top: 100%}
  100% {top: 50%;}
}
.h1::before {
  width: 30px;
  height: 30px;
  margin: 30px auto;
  content: "";
  position: absolute;
  inset: -1%;
  border-radius: 50%;
  background:  radial-gradient(circle,
  #ffffff,#5e6b1e,#181495,#554ec1,transparent 50%);
  animation: pulse 7s ease-in-out infinite;
}

